/* ---------- root variables ---------- */
:root {
  --rednsf: #cb1339;
  --orangensf: #f77842;
  --yellownsf: #f9ce4e;
  --bluensf: #66e0ff;
  --purplensf: #4e57c2;
  --whitensf: #fffafa;
  --blacknsf: #000000;
}

/*******************************/
/****** General Styling *******/
/*******************************/


html {
  color: var(--blacknsf);
  font-family: 'Montserrat', sans-serif !important;
  height: 100%;
  text-align: center;
  width: 100%;
  background-color: var(--whitensf);
}

body {
  margin: 0;
  background-color: var(--whitensf);
}

h1 {
  font-size: 2vw;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: 'Epilogue', sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 2vw;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-family: 'Epilogue',
    sans-serif;
}


a {
  text-decoration: none;
  color: var(--whitensf);
}

.fa-external-link,
.lineup-text .fa-chevron-right {
  color: var(--whitensf);
  margin-left: 10px;
}


/*tabbar styling*/
.tabbar {
  background-color: var(--rednsf);
  position: fixed;
  bottom: 5px;
  left: 75%;
  right: 5px;
  z-index: 9999;
  border-radius: 10px;
  background-size: 200% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabbar {
  background-image: linear-gradient(to right, #cb1339 0%, #f77842 51%, #f9ce4e 100%)
}

.tabbar a {
  display: inline-block;
  color: var(--whitensf);
  text-align: center;
  width: 100%;
  height: 14%;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

.tabbar :hover {
  color: var(--whitensf);
}


@media (min-width: 1087px) {
  .tabbar {
    display: none;
  }
}

@media (max-width: 660px) {
  .tabbar {
    left: 50%;
  }
}

/*page styling*/
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding-bottom: 55px;
  background-color: var(--whitensf);

}

/*logo styling*/
.logo {
  max-width: 50%;
  margin: auto;
}

.logo img {
  min-width: 200px;
  max-width: 100%;
  max-height: 70px;
  height: auto;
}

/*animations*/

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/*nav bar*/
.nav-mobile {
  width: 100%;
  height: 15%;
  max-height: 90px;
  background-color: var(--whitensf);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav-top {
  display: grid;
  grid-template-columns: 16% auto 16%;
  align-items: center;
  height: 100%;
}

.nav-mobile-menu {
  visibility: hidden;
  opacity: 0;
  background: var(--whitensf);
  width: 0px;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  padding-top: 90px;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
  text-align: center;
}

.active.nav-mobile-menu {
  visibility: visible;
  opacity: 1;
  width: 100vw;
}


.nav-mobile-menu ul li {
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  margin-bottom: 30px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 900;
  font-size: 3em;
  padding-top: 1.5%;
}

.nav-mobile-menu ul li a {
  color: var(--blacknsf);
}

ul li:hover a {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

#li-billetter:hover a {
  color: var(--rednsf);
}

#li-information:hover a {
  color: var(--yellownsf);
}

#li-program:hover a {
  color: var(--bluensf);
}

#li-kontakt:hover a {
  color: var(--purplensf);
}

@media (max-width: 1086px) {
  .nav-mobile-menu ul li {
    font-size: 2em;
    padding-top: 5%;
  }

  #li-billetter a {
    color: var(--rednsf);
  }

  #li-information a {
    color: var(--yellownsf);
  }

  #li-program a {
    color: var(--bluensf);
  }

  #li-kontakt a {
    color: var(--purplensf);
  }

}

@media (max-width: 880px) {
  .nav-mobile-menu ul li {
    font-size: 1.5em;
  }
}


/*toggle BUTTON*/
.nav-mobile-button {
  overflow: hidden;
  width: 90px;
  height: 90px;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 9998;
}

#nav-mobile-bar-top {
  top: 30px;
  background-color: var(--rednsf);
  max-width: 50px;
}

#nav-mobile-bar-middle {
  top: 45px;
  background-color: var(--rednsf);
  max-width: 50px;
}

#nav-mobile-bar-bottom {
  top: 60px;
  background-color: var(--rednsf);
  max-width: 50px;
}

.nav-mobile-bar {
  left: 15px;
  width: 60px;
  height: 3px;
  background-color: var(--whitensf);
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.active#nav-mobile-bar-middle {
  left: 90px;
  background-color: var(--whitensf);
}

.active#nav-mobile-bar-top {
  top: 45px;
  transform: rotate(135deg);
  background: var(--rednsf);
}


.active#nav-mobile-bar-bottom {
  top: 45px;
  transform: rotate(-135deg);
  background: var(--rednsf);
}

@media (max-width: 1086px) {
  .nav-top .btn-grad {
    display: none;
  }
}

/*button 1*/

.btn-grad {
  background-image: linear-gradient(to right, #cb1339 0%, #f77842 51%, #f9ce4e 100%)
}

.btn-grad {
  margin: 10px 10px 10px 0px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--whitensf);
  box-shadow: 3px 3px 10px #a0a0a0;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
}

/*footer*/

.footercontainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  text-align: left;
  padding-top: 20px;
}


footer {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--blacknsf);
  color: var(--whitensf);
  justify-content: space-around;
  flex-wrap: wrap;

}


.footercontainer .sec.aboutus {
  margin: 30px;

}

.footerh2 {
  border-bottom: 3px solid var(--rednsf);
  padding-bottom: 5px;
  font-size: 20px;
  margin: 0px;
}

.pfooter {
  line-height: 20px;
  font-size: 15px;
  color: grey;
}

.sci {
  margin-top: 20px;
  display: flex;
}



.sci li {
  list-style: none;

}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: var(--rednsf);
}

.sci li a .fa {
  color: var(--whitensf);
}

.hurtigelinks {
  position: relative;
  margin: 30px;

}

.hurtigelinks ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  color: grey;
}

.footerlinks:hover {
  transition: none;
}

.kontakt {
  margin: 30px;
}

.kontakt li a {
  display: flex;
  margin-bottom: 10px;
  color: grey;
}

.kontakt .info {
  position: relative;
}

.kontakt .info li {
  display: flex;
  line-height: 35px;
}

.kontakt li span:nth-child(1) {
  color: var(--whitensf);
  font-size: 20px;
  margin-right: 10px;
}

.kontakt .info p {
  margin: 0;
}

.copyrighttext {
  width: 100%;
  background: var(--blacknsf);
  color: grey;
  text-align: center;
  padding-bottom: 20px;
}

article p {
  margin: 0 auto;
  padding-top: 20px;
}

.pladsen {
  margin: 30px;
}

body>footer>div>div.sec.pladsen>div>div.w3-container.w3-third {
  width: 100%;
  margin: 15px 0px;
  padding: 0;
}

body>footer>div>div.sec.pladsen>div {
  padding: 0;
}

@media screen and (max-width: 1142px) {

  .footercontainer {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .slide img {
    width: auto;
    height: 80%;
  }

  #home>h2 {
    font-size: 40px;
  }

}

@media screen and (max-width:555px) {

  footer .footercontainer {
    text-align: center;
    grid-template-columns: 100%;
  }

  .info li a {
    text-align: center;
    align-items: center;
  }

  .sci {
    justify-content: center;
    align-items: center;
  }

  .slide img {
    width: auto;
    height: 70%;
  }

}

/*******************************/
/****** Homepage Styling *******/
/*******************************/

/* Hero styling */

.hero {
  width: 100%;
  background-image: url(../img/forsidebanner2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 45px;
  margin-top: 80px;
  padding: 50px 0;
}

#home > section > div.slider-forside111 > div:nth-child(1) > div > div > p.dato{
  color: var(--whitensf);
  text-shadow:2px 2px 4px #000000;
}

.hero .hero-text {
  position: relative;
  padding-left: 65px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 90px;
}

.hero .hero-text h1 {
  color: var(--whitensf);
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 3.5vw;
  text-align: left;
  margin-top: 0;
}

.heading {
  color: var(--whitensf);
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 3.5vw;
  text-shadow:2px 2px 4px #000000;
}

#hero-p{
  color: var(--whitensf);
  font-size: 20px;
  margin-bottom: 5%;
  font-weight: 400;
  font-style: italic;
  text-shadow:2px 2px 4px #000000;
}


.hero .hero-text p {
  color: var(--whitensf);
  font-size: 20px;
  margin-bottom: 5%;
  font-weight: 400;
}

#hero-p {
  font-style: italic;
}



#home>div.hero>div>div>div>p.dato {
  margin-bottom: 1%;
  font-weight: 500;
 
}


@media (max-width: 991.98px) {
  .hero .hero-text {
    padding: 0 15px;
  }

  .hero .hero-text h1 {
    font-size: 5vw;
  }


  .hero .hero-text p {
    font-size: 16px;
  }

  .btn-grad {
    padding: 12px 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767.98px) {


  .hero .hero-text p {
    font-size: 14px;
  }

  .btn-grad {
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

@media (max-width: 575.98px) {


  .hero .hero-text p {
    font-size: 14px;
  }

  .hero .hero-text h1 {
    font-size: 8vw;
  }

  .btn-grad {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    min-width: 80%;
  }
}



/*Link boxe*/

.flexcontaioner-boxe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 250px;
  padding: 2rem 1rem;
  background: var(--whitensf);
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
  margin: 10px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card:hover {
  transform: translateY(5px);
}


.card1:before {
  background: linear-gradient(to bottom, rgba(203, 19, 57, 0.5), rgba(247, 120, 66, 1));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 10px;
}

.card1:hover:before {
  opacity: 1;
}

.card2:before {
  background: linear-gradient(to bottom, rgba(247, 120, 66, 0.5), rgba(249, 206, 78, 1));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 10px;
}

.card2:hover:before {
  opacity: 1;
}

.card3:before {
  background: linear-gradient(to bottom, rgba(249, 206, 78, 0.5), rgba(102, 224, 255, 1));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 10px;
}

.card3:hover:before {
  opacity: 1;
}

.card4:before {
  background: linear-gradient(to bottom, rgba(102, 224, 255, 0.5), rgba(78, 87, 194, 1));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 10px;
}

.card4:hover:before {
  opacity: 1;
}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.card h2 {
  position: relative;
  z-index: 3;
  color: var(--whitensf);
  justify-content: center;
  font-size: 25px;
  display: flex;
  text-shadow: rgb(0, 0, 0) 3px 3px 10px;
  margin: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: var(--whitensf);
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  align-items: center;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
  letter-spacing: 5px;
}

.card .info h2 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin: 0;
}

@media screen and (max-width: 1008px) {

  .card {
    width: 35%;
    margin-bottom: 100px;

  }
}

@media screen and (max-width: 590px) {

  .card {
    width: 50%;
    margin-bottom: 20px;
  }
}



/*lineup CSS*/


.lineup {
  position: relative;
  width: 100%;
  padding: 45px 0;
  background-image: url(../img/watercolor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


.lineup .lineup-carousel {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  right: -15px;
}

.lineup .lineup-item {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  background-color: var(--whitensf);
  border-radius: 10px;

}

.lineup .lineup-page .lineup-item {
  margin: 0 0 30px 0;
}


.lineup .lineup-text {
  position: relative;
  padding: 25px 10px;
}

.lineup .lineup-text h2 {
  font-size: 22px;
  font-weight: 600;
  opacity: 1;
}


.lineup .lineup-text p {
  margin-bottom: 10px;
}

.lineup .lineup-item li#lineups a {
  color: var(--blacknsf);
}

.heading1 {
  color: var(--whitensf);
  font-size: 2.8vw;
  font-weight: 900;
}

@media screen and (max-width: 1142px) {
  .heading1 {
    font-size: 40px;
  }

}


#lineups {
  margin-top: 30px;
}

.lineup .lineup-item li#lineups a:hover {
  color: var(--rednsf);
  font-weight: bold;

}


#blanks {
  height: 22px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #lineups {
    text-decoration: underline;
  }
}


.lineup .lineup-item .btn-grad {
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.lineup .lineup-meta p:last-child {
  margin: 0;
}

.lineup .owl-nav {
  width: 150px;
  margin: 70px auto 10px auto;
  display: flex;
}

.lineup .owl-nav .owl-prev,
.lineup .owl-nav .owl-next {
  margin-left: 15px;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rednsf);
  background: var(--whitensf);
  font-size: 22px;
  transition: .3s;
  border-radius: 10px;
}

.lineup .owl-nav .owl-prev:hover,
.lineup .owl-nav .owl-next:hover {
  color: var(--whitensf);
  background: var(--rednsf);
}

.lineup .pagination .disabled .page-link {
  color: #999999;
}



/* backers slider */

.slider_container {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  margin-bottom: 100px;
}

.slide {
  -webkit-transition: left 3.5s linear;
  transition: left 3.5s linear;
  display: inline-block;
  position: absolute;
  height: 60px;
  vertical-align: top;
  text-align: center;
}

.slide img {
  width: auto;
  height: 100%;
}


.notransition {
  -webkit-transition: none;
  transition: none;
}

.backersfont {
  color: var(--rednsf);
  font-weight: 900;
  font-size: 2.8vw;
  margin-top: 100px;
  margin-bottom: 100px;

}

/*wordpress API CSS og slider*/


h3 {
  font-weight: 900;
  font-family: 'Epilogue', sans-serif;
  font-size: 25px;

}

.wp-posts {
  color: var(--whitensf);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  line-height: 0px;
  text-align: end;
}

#content2 {
  padding: 20px;
  margin-top: -160px;
  border-radius: 10px 0px 0px 10px;
  float: right;
  background-color: rgba(203, 19, 57, 0.8);
}

.grid-container a,
.grid-container a .fa-angle-right {
  color: var(--whitensf);
  margin-left: 5px;
  font-size: 14px;
}


.slide-right {
  animation: 1.5s slide-right 0.5s forwards;
  transform: translateX(100%);
} 

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}



/*******************************/
/****** Program Styling *******/
/*******************************/


/* hero-styling */



.hero2 {
  width: 100%;
  background-image: url(../billeder/concert-768722_1280.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: 10% 10%;
}

.hero3 {
  width: 100%;
  background-image: url(../billeder/infosidebanner.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: 50% 50%;
}

.hero2 .hero-text h1,
.hero3 .hero-text h1 {
  color: var(--whitensf);
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 3.5vw;
  text-align: center;
  margin: 100px;
}

.infokort {
  width: 100%;
  background-image: url(../img/informationskort2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 500px;
}

/*sectioner CSS */

.heading2 {
  font-size: 3.5vw;
  font-weight: 900;

}
@media screen and (max-width: 1142px) {
  .heading2 {
    font-size: 40px;
  }

}




/*******************************/
/******  slide til forside Styling *******/
/*******************************/

.forsidebillede-home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.forsidebillede-home .slideforside2222 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  display: none;
  padding: 0 20px;
  animation: slide-forside2222 2s ease;
}

.forsidebillede-home .slideforside2222.active {
  display: flex;
}


@keyframes slide-forside2222 {

  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.billedeslider-container {
  max-width: 1100px;
  margin: auto;
  text-align: left;
}

.forsidebillede-home .billedeslider-container {
  flex-grow: 1;
}


.billedeslider-container .caption h2 {
  color: var(--blacknsf);
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 3.5vw;
  text-align: left;
  margin-top: 0;
}

.billedeslider-container .caption p {
  color: var(--blacknsf);
  font-size: 20px;
  margin-bottom: 5%;
  font-weight: 400;
  font-style: italic;
}


.forsidebillede-home .controls .prev,
.forsidebillede-home .controls .next {
  position: absolute;
  z-index: 2;
  top: 55%;
  height: 40px;
  margin-left: 15px;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rednsf);
  background: var(--whitensf);
  font-size: 22px;
  transition: .3s;
  border-radius: 10px;
  cursor: pointer;
}



.forsidebillede-home .controls .prev:hover,
.forsidebillede-home .controls .next:hover {
  background-color: var(--rednsf);
  color: var(--whitensf);
}


.forsidebillede-home .controls .prev {
  left: 0;
}

.forsidebillede-home .controls .next {
  right: 0;
}

.grid-container2{
  position:absolute;
  right:0;
  top:300px;
  z-index: 9998;
}

.forsidebillede-home .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 999; 
  transform: translateX(-50%);
}

.forsidebillede-home .indicator div {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--whitensf);
  color: var(--whitensf);
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;
  font-size: 0.1px;
}

.forsidebillede-home .indicator div.active {
  background-color: var(--rednsf);
  color: var(--rednsf);
  
}

