/* ---------- root variables ---------- */
:root {
  --rednsf: #cb1339;
  --orangensf: #f77842;
  --yellownsf: #f9ce4e;
  --bluensf: #66e0ff;
  --purplensf: #4e57c2;
  --whitensf: #fffafa;
  --blacknsf: #000000;
}

/* ---------- general styling ---------- */
html {
  color: var(--blacknsf);
  font-family: 'Montserrat', sans-serif !important; 
  height: 100%;
  text-align: center;
  width: 100%;
  background-color: var(--whitensf);
  line-height: normal;
}

body {
  margin: 0;
  background-color: var(--whitensf);
}

h1, h2 {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: 'Epilogue', sans-serif;
}



/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--rednsf);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
 display: inline-flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  color: var(--whitensf);
  text-align: center;
  width: 49%;
  height: 14%;
  padding: 20px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.tabbar :hover{
  color: var(--whitensf);
}

@media (min-width: 991.98px) {
  .tabbar {
   display: none;
  }}


/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding-bottom: 55px;

}

/* ---------- logo styling ---------- */
.logo {
max-width: 50%;
margin: auto;
}

.logo img{
  min-width:200px;
  max-width:100%;
  max-height:70px;
  height: auto;
  margin-top:15px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/****************
      nav bar
****************/
.nav-mobile {
  width:100%;
  height:15%;
  max-height: 90px;
  background-color: var(--whitensf);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: inline-flex;
  flex-direction: row;
}

.nav-mobile-menu {
  visibility: hidden;
  opacity: 0;
  background: var(--whitensf);
  width: 0px;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  padding-top: 90px;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
  text-align: center;
}

.active.nav-mobile-menu {
  visibility: visible;
  opacity: 1;
  width: 100vw;
}


.nav-mobile-menu ul li {
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  margin-bottom: 30px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 900;
  font-size:3em;

}

ul li:hover{
   transition-timing-function: ease-in-out;
   transition-duration: 0.3s;
   transform: scale(1.2);
}

#li-billetter:hover {
  color: var(--rednsf);
}

#li-information:hover {
  color: var(--yellownsf);
}
#li-program:hover {
  color: var(--bluensf);
}
#li-kontakt:hover {
  color:var(--purplensf);
}

@media (max-width: 991.98px) {
  .nav-mobile-menu ul li {
    font-size:1.5em;
  }
#li-billetter{
  color: var(--rednsf);
}

#li-information{
  color: var(--yellownsf);
}

#li-program{
  color: var(--bluensf);
}

#li-kontakt{
  color: var(--purplensf);
}

}


/****************
     toggle BUTTON
****************/
.nav-mobile-button {
  overflow: hidden;
  margin: auto;
  width: 90px;
  height: 90px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#nav-mobile-bar-top {
  top: 30px;
  background-color: var(--rednsf);
  max-width:50px;
}

#nav-mobile-bar-middle {
  top: 45px;
  background-color: var(--rednsf);
  max-width:50px;
}

#nav-mobile-bar-bottom {
  top: 60px;
  background-color: var(--rednsf);
   max-width:50px;
}

.nav-mobile-bar {
  left: 15px;
  width: 60px;
  height: 3px;
  background-color: var(--whitensf);
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.active#nav-mobile-bar-middle {
  left: 90px;
}

.active#nav-mobile-bar-top {
  top: 45px;
  transform: rotate(135deg);
  background: var(--rednsf);
}


.active#nav-mobile-bar-bottom {
  top: 45px;
  transform: rotate(-135deg);
  background: var(--rednsf);
}

/*button 1*/

  .btn-grad {
    background-image: linear-gradient(to right, #cb1339 0%, #f77842 51%, #f9ce4e 100%)
  }

  .btn-grad {
    margin: 10px 10px 10px 0px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--whitensf);
    box-shadow: 0 0 20px #a0a0a0;
    border-radius: 10px;
    display: block;
    border:none;
  }

  .btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
  }




/*******************************/
/********** Hero CSS ***********/
/*******************************/

.hero {
  width: 100%;
  background-image: url(../img/forsidebanner2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 45px;
  margin-top: 80px;
  padding: 50px 0;
}


.hero .hero-text {
  position: relative;
  padding-left: 65px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;
}

.hero .hero-text h1 {
  color: var(--whitensf);
  margin-bottom: 0px;
  font-weight: 900;
   font-size: 3.5vw;
   text-align:left;
}



.hero .hero-text p {
  color: var(--whitensf);
  font-size: 20px;
  margin-bottom: 5%;
  font-weight: 400;
}

#hero-p {
  font-style: italic;
}

p .dato {
  margin-bottom: ;
}


#home>div.hero>div>div>div>p.dato {
  margin-bottom: 1%;
  font-weight: 500;
}


@media (max-width: 991.98px) {
  .hero .hero-text {
    padding: 0 15px;
  }

  .hero .hero-text h1{
    font-size: 5vw;
  }

  .hero .hero-text p {
    font-size: 16px;
  }

  .btn-grad {
    padding: 12px 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767.98px) {


  .hero .hero-text p {
    font-size: 14px;
  }

  .btn-grad {
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

@media (max-width: 575.98px) {


  .hero .hero-text p {
    font-size: 14px;
  }

   .hero .hero-text h1 {
     font-size: 8vw;
   }

  .btn-grad {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    min-width:80%;
  }
}


/*******************************/
/********** forside boxe ***********/
/*******************************/

.flexcontaioner-boxe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
  
}
.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card h2 {
position: relative;
z-index: 3;
color: var(--whitensf);
justify-content: center;
font-size: 25px;
display: flex;
}





/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
  position: relative;
  width: 100%;
  padding: 45px 0;
  background-image: url(../billeder/smoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.blog .blog-carousel {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  right: -15px;
}

.blog .blog-item {
  position: relative;
  margin: 0 15px;
}

.blog .blog-page .blog-item {
  margin: 0 0 30px 0;
}

.blog .blog-img {
  position: relative;
  width: 100%;
}

.blog .blog-img img {
  width: 100%;
}

.blog .blog-text {
  position: relative;
  padding: 25px 30px;
  border-right: 1px solid rgba(0, 0, 0, .07);
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  border-left: 1px solid rgba(0, 0, 0, .07);
}

.blog .blog-text h2 {
  font-size: 22px;
  font-weight: 600;
}

.blog .blog-text p {
  margin-bottom: 10px;
}

.blog .blog-item a.btn {
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--blacknsf);
  transition: .3s;
}

.blog .blog-item a.btn i {
  margin-left: 5px;
}

.blog .blog-item a.btn:hover {
  color: #F7CAC9;
}

.blog .blog-meta {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}

.blog .blog-meta p {
  margin: 0 10px 0 0;
  font-size: 13px;
}

.blog .blog-meta i {
  margin-right: 5px;
}

.blog .blog-meta p:last-child {
  margin: 0;
}

.blog .owl-nav {
  width: 150px;
  margin: 32px auto 0 auto;
  display: flex;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rednsf);
  background: #343148;
  font-size: 22px;
  transition: .3s;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
  color: #343148;
  background: #F7CAC9;
}

.blog .pagination .page-link {
  color: #343148;
  border-radius: 0;
  border-color: #343148;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
  color: #F7CAC9;
  background: #343148;
}

.blog .pagination .disabled .page-link {
  color: #999999;
}





